body {
  font-family: "Open Sans", sans-serif;
  background-color: #2d3947;
}

header {background-color: #2d3947}

h1, h2, h3, .card-body>h5 {
font-family: "Lobster", cursive;
}

h2 {
  color: white;
}

.card-img-overlay h5 {
  color: white;
  background-color: rgba(0, 0, 0, 0.5);
}

.row-content {
  padding: 50px 0;
  border-bottom: 1px ridge;
  min-height: 200px;
}

.site-footer {
  background-color: #2d3947;
  padding: 20px 0;
}

.jumbotron {
  margin: 0;
  padding: 30px;
  background-image: linear-gradient(to right, #5637DD, #3046C5, #60106B);
  color: white;
}

.jumbotron h2 {
  color: #CEC8FF;
}

.header {
  background-image: url(/img/MFlogo2.png);
  background-size: cover;
  background-repeat: no-repeat;
  padding: 60px;
  text-align: center;
  
  
  font-size: 30px;
}


.navbar-dark {
  background-color: #757365;
}

